p {
    background-color: rgba(128, 128, 128, 0.447);
    font-family: sans-serif;
    color: rgba(165, 42, 42, 0.472);
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
    text-shadow: 12px, 10px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
h1{
    color: purple;
    text-decoration: underline;
    text-shadow: -2px, 5px gray;
}
div {
    color: violet;
    font-family: 'Times New Roman', Times, serif;
}
/* id selector */
#dayTwoCollor {
    color: black;
    background-color: wheat;
}
/* class selector */
.color1 {
    color: yellow;
    background-color: brown;
    font-family: Arial, Helvetica, sans-serif;
}
#discription {
    color: rgb(255, 0, 17);
}