.introduction{
    background-color: #B33771;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 8px;
    font-weight: bold;
   
    
}
#container{
    border: 1px solid #B33771;
    margin: 100px;
    
}

#levelOfExperiance{
    border: none;
    background-color:#b3377115;
    width: 100px;
    margin-left: 20px;
}
.partOne{
    margin: 20px;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    display: flex;
    justify-content: space-between;
   
}
.category{
    font-weight: lighter;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: underline;
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
    
}

.questionnaire {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}
.last{
    margin-bottom: 25px;
}

#finalSubmition{
   padding: 5px;
    display: flex;
    justify-content:center;
    background-color: rgb(214, 205, 205);
}
#formSideOne{
    width: 48%;
}
.det{
    font-weight: lighter;
}

.lastwraper{
    display: flex;
 
}
select{
    width: 250px;
}
.checkbox{
    display: flex;
    margin-left: 255px;
    font-weight: lighter;
    font-size: 14px;
    
}
.submition{
    background-color: #B33771;
    font-size: 15px; 
}
#checker{
    display: flex;
    justify-content: center;
    text-align: center;
}
