p{
    color: blueviolet;
    background-color: goldenrod;
}
h1{
    color: blueviolet;
    background-color: goldenrod;
}
head{
    color: blueviolet;
    background-color: goldenrod;
}
body{
    background-color: pink;
}