/* div{
    display: flex;
    justify-content: space-around;
    border: 1px, solid, black;
} */
#container{
    display: flex;
    justify-content: space-around;
    border: 1px, solid, black;
    background-color: #7ed6df;
    border-top: 1px solid rgb(3, 3, 3);
    border-bottom:1px solid rgb(3, 3, 3);;

}
h1{    
    align-content: center;
    margin: 50px;
}

#loginPage{
   /* flex-direction: column; */
    border: 1px solid black;
    height: 700px;
}
.logInButton{
    border: 1px solid black;
    width: 70px;
    height: 30px;
    margin: 6px;
    text-align: center;
    background-color: white;
}
